fastapi
uvicorn[standard]
python-multipart
pydantic
pandas
numpy
scikit-learn
tensorflow
keras
gym
gymnasium
torch
torchvision
matplotlib
seaborn
plotly
joblib
requests
starlette
openpyxl
cloudpickle
tqdm
