.radar-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.radar {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background: radial-gradient(circle, #003300 10%, #001100 90%);
  border: 2px solid #00ff55;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 20px #00ff88;
}

.line {
  width: 100%;
  height: 100%;
  position: absolute;
  background: conic-gradient(
    rgba(0, 255, 0, 0.6),
    rgba(0, 255, 0, 0.1),
    transparent
  );
  animation: rotate 3s linear infinite;
  border-radius: 50%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ping {
  width: 12px;
  height: 12px;
  background: #00ff88;
  border-radius: 50%;
  position: absolute;
  animation: pingEffect 2s infinite ease-out;
}

.ping1 {
  top: 40%;
  left: 70%;
}

.ping2 {
  top: 20%;
  left: 30%;
  animation-delay: 1s;
}

@keyframes pingEffect {
  0% {
    transform: scale(1);
    opacity: 0.9;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}
